<div class="main-container">
  <div class="container">
    <div class="container-shadow">
      <div class="about">
        <h3>当サイトについて</h3>
        <p>e-Streakはゲーマーの為のコミュニティサイトです。トッププロの知識、戦術、テクニックを投稿して、共に上を目指しましょう。</p>
      </div>
    </div>
  </div>
</div>
