<div class="main-wrapper">
  <% if @current_user == nil %>
    <div class="top-container">
      <div class="rgba">
        <h1>welcome to e-Streak !!</h1>
        <p>e-Streakはゲーマーの為のコミュニティサイトです。</p>
        <p>トッププロの知識、戦術、テクニックを共有して、共に上を目指しましょう。</p>
        <div class="btn-container">
          <%= link_to("新規登録", "/signup", {class: "btn"}) %>
          <%= link_to("ログイン", "/login", {class: "btn"}) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
