<div class="main-container">
  <% @games.each do |game|%>
    <%= link_to("games/#{game.name}") do %>
      <div class="games-container">
        <%= image_tag("games/#{game.id}/logo.jpg") %>
        <div class="game-info">
          <h3><%= game.name.gsub("_", " ") %></h3>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
