// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

// top

.main-wrapper {
  background: url("background.jpg") center center / cover no-repeat fixed;
  padding-top: 50px;
  flex: 1;
}

.main-container {
  float: left;
}

.top-container {
  background: url("top.jpg") center center/ cover;
  flex: 1;
  text-align: center;
  color: white;

  h1 {
    font-size: 56px;
    padding-top: 200px;
    padding-bottom: 60px;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 0px black;
  }

  p {
    font-size: 24px;
    text-align: center;
    line-height: 36px;
  }
}

.btn-container {
  margin: 0 auto;
  width: 400px;
  padding: 60px;

  .btn {
    color: white;
    display: inline-block;
    background-color: #e0162e;
    padding: 14px 20px;
    font-size: 18px;
    margin: 20px;
  }

  .fab {
    width: 300px;
  }

  .fa-twitter {
    background-color: #00aced;
  }

  .fa-twitch {
    background-color: #6441A4;
  }
}

// post-index

.container {
  width: 800px;
  margin: 50px;
}

.container h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  color: white;
}

.container2 {
  box-shadow: 0 0 8px black;
}

.item-list {
  height: 20px;
  background-color: #222;
  height: 36px;
  line-height: 36px;
  border: solid 1px black;
  color: white;
}

.item-list li {
  float: left;
  padding: 0 20px;
  font-size: 20px;
  border-right: solid 1px black;
}

.post-container {
  border: solid 1px #bcbcbc;
  background-color: white;
  display: flex;

  .post-container-image {
    height: 50px;
    width: 50px;
    padding: 8px;

    img {
      height: 50px;
      width: 50px;
      border-radius: 15px;
    }
  }

  .post-container-body {
    padding: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;

    .post-content {
      flex: 1;
      word-break : break-all;

      h3 {
        font-size: 20px;
        display: inline;
        font-weight: bold;
        }
    }

    .post-data {
      font-size: 15px;
      margin-top: auto;
      margin-left: auto;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.post-index-container, .like-index-container{
  margin: 0 auto;
  width: 900px;
}
// post-show

.post-show-container {
  border: solid 1px #bcbcbc;
  background-color: white;
  display: flex;
  width: 800px;
  box-shadow: 0 0 8px black;
  padding: 50px;
}

.user-data {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  position: relative;

  img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
  }

  a {
    color: blue;
  }
}

.post-show-container h3 {
  font-size: 36px;
  border-bottom: solid 1px #bcbcbc;
  padding-bottom: 5px;
}

.post-show-container p {
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 10px;
  margin: 50px 0;
}

.post-show-menu {
  width: 100%;
  border-top: solid 1px #bcbcbc;
}

.post-show-menu li {
  padding: 5px;
}

.post-show-menu .left {
  float: left;
}

.post-show-menu .right {
  float: right;
}

.post-show-menu .right li {
  float: left;
  text-decoration: underline;
}

.like {
  color: red;
}

// post-new

.post-new-container {
  border: solid 1px #bcbcbc;
  background-color: white;
  margin: 30px auto;
  width: 800px;
  box-shadow: 0 0 8px black;
  padding: 50px;
}

.post-new-container h2 {
  font-size: 36px;
  padding-bottom: 5px;
}

.post-new-container h3 {
  font-size: 18px;
  line-height: 20px;
}

.title, select {
  width: 300px;
  font-size: 20px;
  margin: 10px 0;
}

.post-new-container textarea {
  width: 100%;
  height: 400px;
  font-size: 20px;
  margin: 20px 0;
}

.submit-btn {
  border-style: none;
  background-color: #e0162e;
  color: white;
  font-size: 18px;
  height: 50px;
  width: 120px;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.8;
}

.error {
  color: red;
}
// about

.about-container {
  border: solid 1px #bcbcbc;
  background-color: white;
  text-align: center;
  margin: 30px auto;
  width: 800px;
  box-shadow: 0 0 8px black;
  padding: 50px;
}

.about-container h3 {
  font-size: 36px;
  margin-bottom: 50px;
  border-bottom: solid 1px #bcbcbc;
  padding-bottom: 5px;
}

.about-container p {
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}

// users-new

.user-new-container {
  border: solid 1px #bcbcbc;
  background-color: white;
  margin: 30px auto;
  width: 500px;
  box-shadow: 0 0 8px black;
  padding: 50px;
  text-align: center;

  h2 {
    font-size: 36px;
    padding-bottom: 10px;
  }

  h3 {
    line-height: 20px;
    font-size: 18px;
  }

  input {
    font-size: 20px;
    margin: 10px 0;
  }

  .name, .email, .password, .submit-btn, .btn {
    width: 80%;
  }

  .btn {
    background-color: #e0162e;
    color: white;
    line-height: 50px;
    font-size: 16px;
    margin: 10px 0;
  }

  .fa-twitter {
    background-color: #00aced;
  }

  .fa-twitch {
    background-color: #6441A4;
  }

  a {
    line-height: 30px;
  }
}

// user-show

.user-show-container {
  display: flex;
  justify-content: center;
}

.user-show-left {
  border: solid 1px #bcbcbc;
  background-color: white;
  width: 200px;
  margin: 20px;
  box-shadow: 0 0 8px black;
  padding: 50px;
  text-align: center;

  img {
    height: 200px;
    width: 200px;
    border-radius: 15px;
  }

  h3 {
    font-size: 30px;
    line-height: 50px;
  }

  a {
    text-decoration: underline;
    padding: 0 5px;
  }

  h2 {
    text-align: left;
    border-bottom: solid 1px;
    padding: 10px 0;
    margin-top: 10px;
  }
}

.user-show-main {
  width: 800px;
  margin: 20px;

  h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    color: white;
  }
}

// user-edit

.user-edit-container {
  border: solid 1px #bcbcbc;
  background-color: white;
  margin: 30px auto;
  width: 500px;
  box-shadow: 0 0 8px black;
  padding: 50px;
  text-align: center;
}

.user-edit-container img {
  height: 80px;
  width: 80px;
  border-radius: 15px;
}

.user-edit-container h2 {
  font-size: 36px;
  padding-bottom: 10px;
}

.user-edit-container h3 {
  font-size: 30px;
  line-height: 50px;
}

.user-edit-container input {
  width: 500px;
  font-size: 20px;
  margin: 10px 0;
}
