// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

// reset css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// 共通レイアウト

body {
  font-family: "Helvetica Neue", Helvetica, "Meiryo", Arial;
  background-color: #bcbcbc;
}

a {
  text-decoration: none;
  color: black;
}

// ヘッダー

header {
  height: 50px;
  background-color: #222;
  border-bottom: solid 1px #bcbcbc;
  z-index: 1;
  width: 100%;
  position: fixed;
}

.header-logo {
  float: left;
  line-height: 50px;
  color: white;
  padding: 0 20px;
  height: 48px;
}

.header-logo a {
  color: white;
  font-size: 28px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 50px;
  padding: 0 12px;
}

.header-menus a {
  color: white;
  font-size: 18px;
}

.header-btn {
  background-color: #e0162e;
  float: left;
  color: white;
  line-height: 40px;
  padding: 0 15px;
  margin: 5px;
}

// flash

.flash {
  padding: 10px 0;
  color: white;
  background-color: #e0162e;
  text-align: center;
  position: absolute;
  top: 50px;
  z-index: 1;
  width: 100%;
  font-size: 14px;
}

// top

.main-container {
  padding: 50px 0;
}

.top-container {
  background-image: url("top.jpg");
  background-size: cover;
  height: 500px;
}

.rgba {
	background-color: rgba(0,0,0,0.6);
  height: 500px;
}

.top-container h1 {
  color: white;
  font-size: 48px;
  text-align: center;
  padding: 60px;
}

.top-container p {
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
}

.btn-container {
  margin: 0 auto;
  width: 300px;
  padding: 60px;
}

.btn {
  color: white;
  display: inline;
  background-color: #e0162e;
  padding: 14px 20px;
  margin: 20px;
  font-size: 18px;
}

// posts

.container {
  width: 800px;
  margin: 50px;
}

.container h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
}

.container2 {
  box-shadow: 0 0 8px black;
}

.item-list {
  height: 20px;
  background-color: #bcbcbc;
  height: 36px;
  line-height: 36px;
  border-bottom: solid 1px black;
}

.item-list li {
  float: left;
  padding: 0 20px;
  font-size: 20px;
  border-right: solid 1px black;
}

.post-container {
  border: solid 1px #bcbcbc;
  background-color: white;
}

.post-container2 {
  min-height: 66px;
  padding: 5px;
  position: relative;
}

.post-container img {
  height: 50px;
  width: 50px;
  float: left;
  padding: 8px;
}

.post-container h3 {
  font-size: 24px;
  display: inline;
  font-weight: bold;
}

.post-data {
  position: absolute;
  bottom: 0;
}
// posts-show

.post-show-container {
  border: solid 1px #bcbcbc;
  background-color: white;
  margin: 30px auto;
  width: 800px;
  box-shadow: 0 0 8px black;
  padding: 50px;
}

.post-show-container h3 {
  font-size: 36px;
  margin-bottom: 50px;
  border-bottom: solid 1px #bcbcbc;
  padding-bottom: 5px;
}

.post-show-container p {
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}

.post-show-menu {
  float: right;
}

.post-show-menu a {
  text-decoration: underline;
  padding: 0 5px;
}

// post-new

.post-new-container {
  border: solid 1px #bcbcbc;
  background-color: white;
  margin: 30px auto;
  width: 800px;
  box-shadow: 0 0 8px black;
  padding: 50px;
}

.post-new-container h2 {
  font-size: 36px;
  padding-bottom: 5px;
}

.post-new-container h3 {
  font-size: 18px;
  line-height: 20px;
}

.title, select {
  width: 300px;
  font-size: 20px;
  margin: 10px 0;
}

.post-new-container textarea {
  width: 100%;
  height: 400px;
  font-size: 20px;
  margin: 20px 0;
}

.submit-btn {
  border-style: none;
  background-color: #e0162e;
  color: white;
  font-size: 18px;
  height: 50px;
  width: 120px;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.8;
}

.error {
  color: red;
}
// about

.about-container {
  border: solid 1px #bcbcbc;
  background-color: white;
  text-align: center;
  margin: 30px auto;
  width: 800px;
  box-shadow: 0 0 8px black;
  padding: 50px;
}

.about-container h3 {
  font-size: 36px;
  margin-bottom: 50px;
  border-bottom: solid 1px #bcbcbc;
  padding-bottom: 5px;
}

.about-container p {
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}

// games

.games-container {
  margin: 40px;
  float: left;
  border-radius: 5px;
  background-color: white;
  width: 200px;
}

.games-container img {
  width: 200px;
  height: 200px;
  border-radius: 5px 5px 0 0;
}

.game-info h3 {
  text-align: center;
  font-size: 20px;
  color: black;
  line-height: 26px;
}

// user-new

.user-new-container {
  border: solid 1px #bcbcbc;
  background-color: white;
  margin: 30px auto;
  width: 500px;
  box-shadow: 0 0 8px black;
  padding: 50px;
  text-align: center;
}

.user-new-container h2 {
  font-size: 36px;
  padding-bottom: 10px;
}

.user-new-container h3 {
  line-height: 20px;
  font-size: 18px;
}

.user-new-container input {
  width: 500px;
  font-size: 20px;
  margin: 10px 0;
}
