// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

.top-container {
  background: url("top.jpg") center center/ cover;
  flex: 1;
  text-align: center;
  color: white;

  h1 {
    font-size: 56px;
    padding-top: 200px;
    padding-bottom: 60px;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 0px black;
  }

  p {
    font-size: 24px;
    text-align: center;
    line-height: 36px;
  }
}

.btn-container {
  margin: 0 auto;
  width: 400px;
  padding: 60px;

  .btn {
    color: white;
    display: inline-block;
    background-color: $color-red;
    padding: 14px 20px;
    font-size: 18px;
    margin: 20px;
  }

  .fab {
    width: 300px;
  }

  .fa-twitter {
    background-color: $color-twitter;
  }

  .fa-twitch {
    background-color: $color-twitch;
  }
}
