.pagination {
  text-align: center;
  margin: 10px;
  .page, .first, .prev, .next, .last {
    background-color: white;
    width: 30px;
    display: inline-block;
    line-height: 30px;
    border-radius: 3px;
    a {
      width: 100%;
      display: inline-block;
    }
  }

  .current {
    background-color: black;
    color: white;
  }
}
